@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body, .header, .left-links, .right-links, .content, .footer {
  display: flex;
}

body {
  flex-direction: column;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  color: #757575;
}

img {
  width: 600px;
}

button {
  padding: 10px;
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  font-weight: bold;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

a {
  color: inherit;
  text-decoration: none;
}

.header, .footer {
  justify-content: space-between;
  padding: 15px;
}

.left-links, .right-links {
  gap: 15px;
}

.content {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.footer {
  background: #eee;
}